{{!-- <h1>News Scraped From IGN</h1>
<ul id="list">
    <li></li>
</ul>
 --}}
<nav>
    <div class="nav-wrapper blue">
        <a href="#!" class="brand-logo">Mongo Scraper</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">Saved Articles</a></li>
            <li><a href="collapsible.html" class="waves-light btn">Scrape Articles!</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Home</a></li>
    <li><a href="badges.html">Saved Articles</a></li>
    <li><a href="collapsible.html" class="waves-light btn">Scrape Articles!</a></li>
</ul>

<div class="hero">
    <h1>Mongo Scraper</h1>
</div>

<main>
    <div class="container">
        <section id="articles">
    </div>
    </section>
</main>